html,
body {
    height: 100%;
}

.wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo_small {
    width: 200px;
    margin: 20px;
}

#bas {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.95;
    z-index: 90;
    visibility: hidden;
}

#view {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 91;
    visibility: hidden;
}

#big_photo {
    max-width: 80vw;
    max-height: 80vh;
}
